/* source: https://css-tricks.com/css-only-carousel/ */
/* https://css-tricks.com/custom-scrollbars-in-webkit/ */
* {
  box-sizing: border-box;
}

.slider {

  text-align: center;
  overflow: hidden;

}


/* > targets elements which are DIRECT children of a particular element. */

/* .slides > div {
  scroll-snap-align: start;
  flex-shrink: 0;
  width: 450px;
  height: 320px;
  margin-right: 50px;
  border-radius: 10px;
  background: #eee;
  transform-origin: center center;
  transform: scale(1);
  transition: transform 0.5s;
  position: relative;

  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 100px;
} */

.slider img {
  object-fit: cover;
  width: 400px;
  height: 300px;
}

.slider > a {
  display: inline-flex;
  width: 1.5rem;
  height: 1.5rem;
  background: white;
  text-decoration: none;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  margin: 1.5rem 0 0.5rem 0;
  position: relative;
}

.slider > a:active {
  top: 1px;
}
.slider > a:focus {
  background: #000;
}

.slider a.slider-image-selected{
    background-color: rgb(165, 168, 166);
}



/* the following css is used both in individual.html and activityfeed.html */
.card-message-input {
    background: rgba(201, 221, 228, 1);
    /* -webkit-backdrop-filter: blur(10px);
    backdrop-filter: blur(10px); */
    overflow: hidden;
    position: absolute; /* was fixed before parent (i.e., .card element is fixed) */
    border-radius: 30px;
    width: 95%;
    bottom: 0%;
    left: 0;
    height: 65px;
    padding: 12px 10px 14px 9px;
    right: 14px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

    .card-message-input input {

        margin: 0px 0px 10px 0px;
        height: 95%;
        border: none;
        border-radius: 20px;
        width: calc(100% - 55px);
        padding-left: 10px;
        outline: none;

    }

    .card-message-input a {
        position: absolute;
        top: 5px;
        right: 10px;
        display: inline-block;
        height: 50px;
        width: 50px;
        background: url('/static/pics/plane.png') no-repeat;
        background-size: 40px 40px;
        background-position: 3px 6px;
    }
