{% load static %}
<h1>Badges</h1>

<!--sample div -->
<!--<div class="badgeContainter">-->
<!--    <div class="badgeContent">-->
<!--        <span class="badgeTitle">MSC</span><br />-->
<!--        <span class="badgeSub">Math Self-Concept related badges</span>-->
<!--    </div>-->
<!--</div>-->


<div class="badgeContainter msc">
    <!--  first badge-->
    <div>
        <div class="child">
             <img  src="{% static 'pics/default.png' %}" alt="">
             <span>Brainstorm</span>
        </div>
        <div class="child platform">
            <span>MB: 0</span>
            <span>KA: 0</span>
            <span>TA: 0</span>
        </div>
    </div>
    <!--  second badge-->
    <div>
        <div class="child">
             <img  src="{% static 'pics/ques.png' %}" alt="">
             <span>Question</span>
        </div>
        <div class="child platform">
            <span>MB: 0</span>
            <span>KA: 0</span>
            <span>TA: 0</span>
        </div>
    </div>
     <!--  third badge-->
    <div>
        <div class="child">
             <img  src="{% static 'pics/default.png' %}" alt="">
             <span>Critique</span>
        </div>
        <div class="child platform">
            <span>MB: 0</span>
            <span>KA: 0</span>
            <span>TA: 0</span>
        </div>
    </div>

</div>

<div class="badgeContainter hsc">

     <!--  first badge-->
    <div>
        <div class="child">
             <img  src="{% static 'pics/explanation.png' %}" alt="">
             <span>Elaboration</span>
        </div>
        <div class="child platform">
            <span>MB: 0</span>
            <span>KA: 0</span>
            <span>TA: 0</span>
        </div>
    </div>
    <!--  second badge-->
    <div>
        <div class="child">
             <img  src="{% static 'pics/default.png' %}" alt="">
             <span>Share</span>
        </div>
        <div class="child platform">
            <span>MB: 0</span>
            <span>KA: 0</span>
            <span>TA: 0</span>
        </div>
    </div>
     <!--  third badge-->
    <div>
        <div class="child">
             <img  src="{% static 'pics/default.png' %}" alt="">
             <span>Clarify</span>
        </div>
        <div class="child platform">
            <span>MB: 0</span>
            <span>KA: 0</span>
            <span>TA: 0</span>
        </div>
    </div>

</div>

<div class="badgeContainter fam">
     <!--  first badge-->
    <div>
        <div class="child">
             <img  src="{% static 'pics/feedback.png' %}" alt="">
             <span>Feedback</span>
        </div>
        <div class="child platform">
            <span>MB: 0</span>
            <span>KA: 0</span>
            <span>TA: 0</span>
        </div>
    </div>
    <!--  second badge-->
    <div>
        <div class="child">
             <img  src="{% static 'pics/suggestion.png' %}" alt="">
             <span>Suggestion</span>
        </div>
        <div class="child platform">
            <span>MB: 0</span>
            <span>KA: 0</span>
            <span>TA: 0</span>
        </div>
    </div>
     <!--  third badge-->
    <div>
        <div class="child">
             <img  src="{% static 'pics/default.png' %}" alt="">
             <span>Summarize</span>
        </div>
        <div class="child platform">
            <span>MB: 0</span>
            <span>KA: 0</span>
            <span>TA: 0</span>
        </div>
    </div>

</div>

<div class="badgeContainter cons">
     <!--  first badge-->
    <div>
        <div class="child">
             <img  src="{% static 'pics/ques.png' %}" alt="">
             <span>Question</span>
        </div>
        <div class="child platform">
            <span>MB: 0</span>
            <span>KA: 0</span>
            <span>TA: 0</span>
        </div>
    </div>
    <!--  second badge-->
    <div>
        <div class="child">
             <img  src="{% static 'pics/reflection.png' %}" alt="">
             <span>Reflection</span>
        </div>
        <div class="child platform">
            <span>MB: 0</span>
            <span>KA: 0</span>
            <span>TA: 0</span>
        </div>
    </div>
     <!--  third badge-->
    <div>
        <div class="child">
             <img  src="{% static 'pics/default.png' %}" alt="">
             <span>Assess</span>
        </div>
        <div class="child platform">
            <span>MB: 0</span>
            <span>KA: 0</span>
            <span>TA: 0</span>
        </div>
    </div>

</div>

<div class="badgeContainter social">

     <!--  first badge-->
    <div>
        <div class="child">
             <img  src="{% static 'pics/default.png' %}" alt="">
             <span>Post</span>
        </div>
        <div class="child platform">
            <span>MB: 0</span>
            <span>KA: 0</span>
            <span>TA: 0</span>
        </div>
    </div>
    <!--  second badge-->
    <div>
        <div class="child">
             <img  src="{% static 'pics/default.png' %}" alt="">
             <span>Appreciate</span>
        </div>
        <div class="child platform">
            <span>MB: 0</span>
            <span>KA: 0</span>
            <span>TA: 0</span>
        </div>
    </div>
     <!--  third badge-->
    <div>
        <div class="child">
             <img  src="{% static 'pics/ques.png' %}" alt="">
             <span>Question</span>
        </div>
        <div class="child platform">
            <span>MB: 0</span>
            <span>KA: 0</span>
            <span>TA: 0</span>
        </div>
    </div>

</div>
