{% load static %}
<h1>Badges</h1>

<div class="badgeCardHeader1">
    <h4>Badge Types</h4>
    <hr>
</div>

<div class="badgeCardName" >
    <div class="badgeDesc badgeDesc-selected" data-id="msc">
        <img  src="{% static 'pics/group-members.png' %}" alt=""><br/>
        <span class="badge-description-name">Understand Better!</span>
        <span class="badge-description-hover">Encourages to explain different math related concepts.</span>
    </div>

    <div class="badgeDesc" data-id="hsc">
        <img  src="{% static 'pics/group-members.png' %}" alt=""><br/>
        <span class="badge-description-name">Help Better!</span>
        <span class="badge-description-hover">Encourages to practice giving explanations.</span>
    </div>
    <div class="badgeDesc" data-id="fam">
        <img  src="{% static 'pics/group-members.png' %}" alt=""><br/>
        <span class="badge-description-name">Help everybody!</span>
        <span class="badge-description-hover">Like sharing, helping is caring too!</span>
    </div>
    <div class="badgeDesc" data-id="con">
        <img  src="{% static 'pics/group-members.png' %}" alt=""><br/>
        <span class="badge-description-name">Complete Tasks!</span>
        <span class="badge-description-hover">This encourages to participate in the activities.</span>
    </div>
    <div class="badgeDesc" data-id="social">
        <img  src="{% static 'pics/group-members.png' %}" alt=""><br/>
        <span class="badge-description-name">Be nice!</span>
        <span class="badge-description-hover">Appreciate others around us.</span>
    </div>
</div>

<div class="badgeCardHeader2">
    <h4>Your Badges</h4>
    <hr>
    <h5>Understand Better!</h5>
</div>

<div class="badgeCardBody">
    <div class="badgeBody">
        <div class="badgeBodyC1">
            <img  id="badgeCard-img1" src="{% static 'pics/group-members.png' %}" alt=""><br/>
            <span id="badgeCard-badgeName1" class="sub-badges-name"> badge name </span>
            <span id="badgeCard-desc1" class="badge-description-2-hover">badge-description</span>

        </div>
        <hr>
        <div class="badgeBodyC2">
            <span class="badge-count-platform-mb">Modelbook: 0</span><br/>
            <span class="badge-count-platform-ka">Khan Academy: 0</span><br/>
            <span class="badge-count-platform-ta">Cobi: 0</span>
        </div>
    </div>
    <div class="badgeBody">
        <div class="badgeBodyC1">
            <img  id="badgeCard-img2" src="{% static 'pics/group-members.png' %}" alt=""><br/>
            <span id="badgeCard-badgeName2" class="sub-badges-name"> badge name </span>
             <span id="badgeCard-desc2" class="badge-description-2-hover">badge-description</span>
        </div>
        <hr>
        <div class="badgeBodyC2">
            <span class="badge-count-platform-mb">Modelbook: 0</span><br/>
            <span class="badge-count-platform-ka">Khan Academy: 0</span><br/>
            <span class="badge-count-platform-ta">Cobi: 0</span>
        </div>
    </div>
    <div class="badgeBody">
        <div class="badgeBodyC1">
            <img  id="badgeCard-img3" src="{% static 'pics/group-members.png' %}" alt=""><br/>
            <span id="badgeCard-badgeName3" class="sub-badges-name"> badge name </span>
            <span id="badgeCard-desc3" class="badge-description-2-hover">badge-description</span>
        </div>
        <hr>
        <div class="badgeBodyC2">
            <span class="badge-count-platform-mb">Modelbook: 0</span><br/>
            <span class="badge-count-platform-ka">Khan Academy: 0</span><br/>
            <span class="badge-count-platform-ta">Cobi: 0</span>
        </div>
    </div>
</div>

