{% load static %}
<h1>Badges</h1>

<div class="badgeCardHeader1">
    <h4>Badge Types</h4>
    <hr>
</div>

<div class="badgeCardName" >
    <div class="badgeDesc badgeDesc-selected" data-id="msc">
        <img  src="{% static 'pics/group-members.png' %}" alt=""><br/>
        <span>Understand Better!</span>
    </div>

    <div class="badgeDesc" data-id="hsc">
        <img  src="{% static 'pics/group-members.png' %}" alt=""><br/>
        <span>Help Better!</span>
    </div>
    <div class="badgeDesc" data-id="fam">
        <img  src="{% static 'pics/group-members.png' %}" alt=""><br/>
        <span>Help everybody!</span>
    </div>
    <div class="badgeDesc" data-id="con">
        <img  src="{% static 'pics/group-members.png' %}" alt=""><br/>
        <span>Complete Tasks!</span>
    </div>
    <div class="badgeDesc" data-id="social">
        <img  src="{% static 'pics/group-members.png' %}" alt=""><br/>
        <span>Be nice!</span>
    </div>
</div>

<div class="badgeCardHeader2">
    <h4>Your Badges</h4>
    <hr>
    <h5>Understand Better!</h5>
</div>

<div class="badgeCardBody">
    <div class="badgeBody">
        <div class="badgeBodyC1">
            <img  src="{% static 'pics/group-members.png' %}" alt=""><br/>
            <span id="badgeCard-badgeName1"> badge name </span>
        </div>
        <hr>
        <div class="badgeBodyC2">
            <span class="badge-count-platform-mb">Modelbook: 0</span><br/>
            <span class="badge-count-platform-ka">Khan Academy: 0</span><br/>
            <span class="badge-count-platform-ta">Cobi: 0</span>
        </div>
    </div>
    <div class="badgeBody">
        <div class="badgeBodyC1">
            <img  src="{% static 'pics/group-members.png' %}" alt=""><br/>
            <span id="badgeCard-badgeName2"> badge name </span>
        </div>
        <hr>
        <div class="badgeBodyC2">
            <span class="badge-count-platform-mb">Modelbook: 0</span><br/>
            <span class="badge-count-platform-ka">Khan Academy: 0</span><br/>
            <span class="badge-count-platform-ta">Cobi: 0</span>
        </div>
    </div>
    <div class="badgeBody">
        <div class="badgeBodyC1">
            <img  src="{% static 'pics/group-members.png' %}" alt=""><br/>
            <span id="badgeCard-badgeName3"> badge name </span>
        </div>
        <hr>
        <div class="badgeBodyC2">
            <span class="badge-count-platform-mb">Modelbook: 0</span><br/>
            <span class="badge-count-platform-ka">Khan Academy: 0</span><br/>
            <span class="badge-count-platform-ta">Cobi: 0</span>
        </div>
    </div>
</div>

<!--<div class="badge-wrap">-->
<!--    <div><p>hello</p></div>-->
<!--    <div><p>hello</p></div>-->
<!--    <div><p>hello</p></div>-->
<!--    <div><p>hello</p></div>-->
<!--    <div><p>hello</p></div>-->
<!--</div>-->
