{% load static %}
<div id="gallery-view">

    <div id="single-image-view" class="gallery-panel">
        <div class="verticalDivider">
            <div id="row-left">
                <h1>Gallery Name</h1>
                <p id="gallery-description">
                        Discuss about the images as a group.
                </p>
                <div >
                    <a id="gallery-group-user"></a>
                    <span class="gallery-span">5</span>
                    <div class="gallery-group-members">
                        <span>5</span>
                        <ul>
                            <li>name 1</li>
                            <li>name 2</li>
                            <li>name 3</li>
                            <li>name 4</li>
                            <li>name 5</li>
                        </ul>
                    </div>
                </div>

                 <!--functionality defined in gallery.js; css defined in digTextBook.less-->
                <div class="section">

<!--                    <a href="" class="previous-image"></a>-->
<!--                    <a href="" class="next-image"></a>-->
                    <div>
                        <img  src="{% static 'pics/default.png' %}" alt="">
<!--                        <span> Image upload by </span>-->
                    </div>
                    <!--<a href="#" class="gallery_image_user_name">here i am</a>-->
                    <input type="hidden" name="image-index" value=""/>
                    <input type="hidden" name="image-db-pk" value=""/>
                    <!--<div class = "posted_by_image"></div>-->
                </div>
                <!--div displaying the badge selection-->
                <div id="badge-option" class="badge-option-class">
                    <div>
                       <a href="#" id="badge1">
                           <img  src="{% static 'pics/blank.png' %}" alt="">
                           <span>Brainstorm</span>
                       </a>
                    </div>
                    <div>
                       <a href="#" id="badge2">
                           <img  src="{% static 'pics/blank.png' %}" alt="">
                           <span>Elaboration</span>
                       </a>
                   </div>
                    <div>
                       <a href="#" id="badge3">
                           <img  src="{% static 'pics/blank.png' %}" alt="">
                           <span>Feedback</span>
                       </a> <br/>

                   </div>
                     <div>
                       <a href="#" id="badge4">
                           <img  src="{% static 'pics/blank.png' %}" alt="">
                            <span>Reflection</span>
                       </a>

                   </div>

                </div>
                <!--div displaying the badge prompt and sentence starter-->
                <div class="div-badge-prompt" style="display: none">
                    <div style="float:left">
                        <a href="#">
                           <img  src="{% static 'pics/blank.png' %}" alt="">
                           <span>Brainstorm</span>
                       </a>
                    </div>
                    <p>
                        Coming up with the solution is difficult! Share your thoughts about the [topic_variable]
                        so together you can come up with different ideas to solve the problem.
                    </p>
<!--                    <p class="badge-ss"></p>-->
                </div>
            </div>

            <div id="row-right">
                <ul id="image-feed" class="feed" style="margin-top: 100px;margin-bottom:100px">
                </ul>


                <div class="message-input">
                    <input type="text" id="image-msg-text" name="image-msg-text" placeholder="Comment on this picture">
                    <input type="hidden" name="username" value={{ user.get_username }}>
                    <a href="" id="image-msg-send-btn"></a>
                </div>
            </div>
    </div>
    </div>

</div>

