{% load static %}
<div id="gallery-view">

<!--    <div id="gallery-panel" class="gallery-panel">-->
<!--         <h1></h1>-->

<!--        <p id="gallery-description">-->
<!--            Make at least one comment on each of the five images.-->
<!--        </p>-->

<!--        <ul id="gallery">-->
<!--            &lt;!&ndash;<li>&ndash;&gt;-->
<!--                &lt;!&ndash;<img  src="https://tinyurl.com/y72rf9lz" alt="">&ndash;&gt;-->
<!--                &lt;!&ndash;<span class="badge">3</span>&ndash;&gt;-->
<!--            &lt;!&ndash;</li>&ndash;&gt;-->
<!--        </ul>-->

<!--    </div>-->

    <div id="single-image-view" class="gallery-panel">
        <div class="verticalDivider">
            <div id="row-left">
                <h1>Gallery Name</h1>
                <p id="gallery-description">
                        Discuss about the images as a group.
                </p>
                 <!--functionality defined in gallery.js; css defined in digTextBook.less-->
                <div class="section">

<!--                    <a href="" class="previous-image"></a>-->
<!--                    <a href="" class="next-image"></a>-->
                    <div>
                        <img  src="{% static 'pics/default.png' %}" alt="">
                        <span> Image upload by </span>
                    </div>
                    <!--<a href="#" class="gallery_image_user_name">here i am</a>-->
                    <input type="hidden" name="image-index" value=""/>
                    <input type="hidden" name="image-db-pk" value=""/>
                    <!--<div class = "posted_by_image"></div>-->
                </div>
                <div>

                </div>
            </div>

            <div id="row-right">
<!--                <a id="backToGallery" href=""></a>-->
<!--                 <div class="award-holder"   style="margin-left:0px;">-->
<!--                    <div class = "badge-description">Testing</div>-->
<!--                </div>-->
                <ul id="image-feed" class="feed" style="margin-top: 60px;margin-bottom:110px">
                </ul>


<!--                <div class="prompt-card prompt">-->
<!--                    <a class="prompt-close-card"></a>-->
<!--                    &lt;!&ndash;<span id="prompt-p"></span>&ndash;&gt;-->
<!--                    &lt;!&ndash;<img id="badge-default" src="{% static 'pics/default.png' %}" alt="">&ndash;&gt;-->
<!--                    <img id="prompt-badge-img" src="{% static 'pics/default.png' %}" alt="" >-->
<!--                    <p id="prompt-p" ></p>-->
<!--                </div>-->

                <div class="message-input">
                    <input type="text" id="image-msg-text" name="image-msg-text" placeholder="Comment on this picture">
                    <input type="hidden" name="username" value={{ user.get_username }}>
                    <a href="" id="image-msg-send-btn"></a>
                </div>
            </div>
    </div>
    </div>

</div>

