{% load static %}
<div id="gallery-view">

    <div id="single-image-view" class="gallery-panel">
        <div class="verticalDivider">
            <div id="row-left">
                <h1>Gallery Name</h1>
                <p id="gallery-description">
                        Discuss about the images as a group.
                </p>

                <div class="gallery-userlist">
                    <div class="gallery-group-user">
                        <img  src="{% static 'pics/group-members.png' %}" alt="">
                        <span> 4 </span>
                    </div>
                    <div class="gallery-group-members" style="display:block">
                        <ul>
                            <li>Ant</li>
                            <li>Alligator</li>
                            <li>Panda</li>
                            <li>Leopard</li>
<!--                            <li>name 5</li>-->
                        </ul>
                    </div>
                </div>

                 <!--functionality defined in gallery.js; css defined in digTextBook.less-->
                <div class="section">

<!--                    <a href="" class="previous-image"></a>-->
<!--                    <a href="" class="next-image"></a>-->
                    <div>
                        <img  src="{% static 'pics/default.png' %}" alt="">
<!--                        <span> Image upload by </span>-->
                    </div>
                    <!--<a href="#" class="gallery_image_user_name">here i am</a>-->
                    <input type="hidden" name="image-index" value=""/>
                    <input type="hidden" name="image-db-pk" value=""/>
                    <!--<div class = "posted_by_image"></div>-->
                </div>
                <div class="badgeRequest">
                    <img  src="{% static 'pics/ques.png' %}" alt="">
                </div>
                <!--div displaying the badge selection-->
                <div id="badge-option" class="badge-option-class">
                    <div class="badge-option-heading">
                        <p> Choose how you want to participate: </p>
                        <a href="javascript:void(0)" class="badge-option-closebtn">&times;</a>
                    </div>
                    <div class="badge-option-display">
                        <div href="#" id="badge1" tabindex="1">
                           <img  src="{% static 'pics/blank.png' %}" alt="">
                           <span>Brainstorm</span>
                        </div>
                        <div href="#" id="badge2" tabindex="2">
                           <img  src="{% static 'pics/blank.png' %}" alt="">
                           <span>Elaboration</span>
                       </div>
                        <div href="#" id="badge3" tabindex="3">
                           <img  src="{% static 'pics/blank.png' %}" alt="">
                           <span>Feedback</span>
                       </div>
                        <div href="#" id="badge4" tabindex="4">
                           <img  src="{% static 'pics/blank.png' %}" alt="">
                            <span>Reflection</span>
                       </div>

                    </div>
                    <div class="badge-prompt-text">
                        <p>Coming up with the solution is difficult! Share your thoughts about the [topic_variable]
                        so together you can come up with different ideas to solve the problem.</p>
                    </div>
                    <div class="badge-option-textarea">
                        <textarea id="badge-textarea-id">I agree/disagree... </textarea>
                    </div>
                    <div class="badge-option-footer">
                        <button> Copy to the textbox </button>
                    </div>

                </div>

            </div>

            <div id="row-right">
                <ul id="image-feed" class="feed" style="margin-top: 100px;margin-bottom:100px">
                </ul>


                <div class="message-input">
                    <input type="text" id="image-msg-text" name="image-msg-text" placeholder="Comment on this picture">
                    <input type="hidden" name="username" value={{ user.get_username }}>
                    <a href="" id="image-msg-send-btn"></a>
                </div>
            </div>
    </div>
    </div>

</div>

