{% load static %}
<div>
    <h1> new page for individual discussion </h1>
    <p> Make at least one comment on each of the five images </p>
</div>

<div class="slider" style="margin-left:100px; margin-top: 40px;">

  <div class="slides">
    <div id="slide-1">
        <img  src="{% static 'pics/default.png' %}" data-imgID="" alt="">
    </div>
    <div id="slide-2">
        <img  src="{% static 'pics/default.png' %}" data-imgID="" alt="">
    </div>
    <div id="slide-3">
      <img src="{% static 'pics/default.png' %}" data-imgID="" alt="">
    </div>
    <div id="slide-4">
      <img src="{% static 'pics/default.png' %}" data-imgID="" alt="">
    </div>
    <div id="slide-5">
      <img src="{% static 'pics/default.png' %}" data-imgID="" alt="">
    </div>
  </div>

    <a href="#slide-1">1</a>
    <a href="#slide-2">2</a>
    <a href="#slide-3">3</a>
    <a href="#slide-4">4</a>
    <a href="#slide-5">5</a>
</div>

<ul id="ind-feed" class="feed">
</ul>

<div class="card-message-input">
     <input type="text" name="ind-msg-text" id="ind-msg-text" placeholder="Type a message to your class here">
     <input type="hidden" name="username" value={{ user.get_username }}>
     <a href="" id="ind-msg-send-btn"></a>
</div>
