{% load static %}
<h1> Khan Academy Discussion </h1>
<p>
</p>

        <div id="badge-option" class="badge-option-class badge-ka">
            <div class="badge-option-heading">
                <p> Choose how you want to participate: </p>
<!--                <a href="javascript:void(0)" class="badge-option-closebtn">&times;</a>-->
            </div>
            <div class="badge-option-display">
                <div href="#" id="ka-badge1" data-char="msc" tabindex="1">
                   <img  src="{% static 'pics/blank.png' %}" alt="">
                   <span>Brainstorm</span>
                </div>
                <div href="#" id="ka-badge2" data-char="hsc" tabindex="2">
                   <img  src="{% static 'pics/blank.png' %}" alt="">
                   <span>Elaboration</span>
               </div>
                <div href="#" id="ka-badge3" data-char="fam" tabindex="3">
                   <img  src="{% static 'pics/blank.png' %}" alt="">
                   <span>Feedback</span>
               </div>
                <div href="#" id="ka-badge4" data-char="none" tabindex="4">
                   <img  src="{% static 'pics/blank.png' %}" alt="">
                    <span>None</span>
               </div>

            </div>
            <div class="badge-prompt-text" id="ka-badge-prompt">
                <p>Select an option to get the prompt.</p>
            </div>
            <div class="badge-option-textarea">
                <textarea>Select an option to get the sentence starter.</textarea>
            </div>
            <div class="badge-option-footer" id="ka-copy-button">
                <button> Copy to Clipboard </button>
            </div>

        </div>

    <div>
        <span id="ka-notifier" class="notifier"> Your selected sentence starter is copied to the clipboard.
            Paste it Khan Academy and modify as needed. </span>
    </div>

