    <span id="right-side-menu">&#9776;</span>


    <div id="mySidenav" class="sidenav" >
        <a href="javascript:void(0)" class="right-menu-closebtn">&times;</a>

        <a class="showGeneralLink">General</a>
        <ul class="side-nav-ul general">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="1">Create A Model</a>
                <a href="#" class="nav" data-pageId="2">Discuss Your Model</a>
                <a href="#" class="nav" data-pageId="3">Synchronous Day</a>
                <a href="#" class="nav" data-pageId="4">Refine your Model</a>
                <a href="#" class="nav" data-pageId="5">Teach an Agent</a>
            </li>
        </ul>



        <a class="showWeek1Link">Week 1</a>
        <ul class="side-nav-ul week1">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="1">Create A Model</a>
                <a href="#" class="nav" data-pageId="2">Discuss Your Model</a>
                <a href="#" class="nav" data-pageId="3">Synchronous Day</a>
                <a href="#" class="nav" data-pageId="4">Refine your Model</a>
                <a href="#" class="nav" data-pageId="5">Teach an Agent</a>
            </li>
        </ul>



        <a class="showWeek2Link" >Week 2</a>
        <ul class="side-nav-ul week2">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="1">Create A Model</a>
                <a href="#" class="nav" data-pageId="2">Discuss Your Model</a>
                <a href="#" class="nav" data-pageId="3">Synchronous Day</a>
                <a href="#" class="nav" data-pageId="4">Refine your Model</a>
                <a href="#" class="nav" data-pageId="5">Teach an Agent</a>
            </li>
        </ul>

        <a class="showWeek3Link" >Week 3</a>
        <ul class="side-nav-ul week3">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="1">Create A Model</a>
                <a href="#" class="nav" data-pageId="2">Discuss Your Model</a>
                <a href="#" class="nav" data-pageId="3">Synchronous Day</a>
                <a href="#" class="nav" data-pageId="4">Refine your Model</a>
                <a href="#" class="nav" data-pageId="5">Teach an Agent</a>
            </li>
        </ul>



    </div>
