   {% load static %}
    <span id="right-side-menu">&#9776;</span>


    <div id="mySidenav" class="sidenav" >
        <a href="javascript:void(0)" class="right-menu-closebtn">&times;</a>

        <a class="showLinkgeneral">General
              <img class="uparrow" src="{% static 'pics/uparrow.png' %}" style="display:none"/>
              <img class="downarrow" src="{% static 'pics/downarrow.png' %}" />
        </a>
        <ul class="side-nav-ul general">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="0">Modelbook Demo Video</a>
                <a href="#" class="nav" data-pageId="0">Khan Academy Demo Video</a>
                <a href="#" class="nav" data-pageId="0">Teachable Agent Demo Video</a>
                <a href="#" class="nav" data-pageId="0">Profile Page</a>
            </li>
        </ul>



        <a class="showLinkweek1">Week 1
            <img class="uparrow" src="{% static 'pics/uparrow.png' %}" style="display:none"/>
            <img class="downarrow" src="{% static 'pics/downarrow.png' %}" />
        </a>
        <ul class="side-nav-ul week1">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="1">Introducing Help-Giving</a>
                <a href="#" class="nav" data-pageId="2">Create A Model</a>
                <a href="#" class="nav" data-pageId="3">Discuss Your Model</a>
                <a href="#" class="nav" data-pageId="4">Ratio Assignment</a>
                <a href="#" class="nav" data-pageId="5">Refine your Model</a>
                <a href="#" class="nav" data-pageId="6">Prepare for Cobi</a>
                <a href="#" class="nav" data-pageId="7">Cobi Needs your help!</a>
                <a href="#" class="nav" data-pageId="8">Khan Academy Assignment #1</a>
            </li>
        </ul>



        <a class="showLinkweek2">Week 2
            <img class="uparrow" src="{% static 'pics/uparrow.png' %}" style="display:none"/>
            <img class="downarrow" src="{% static 'pics/downarrow.png' %}" />
        </a>
        <ul class="side-nav-ul week2">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="10">Return of the Ratio Assignment</a>
                <a href="#" class="nav" data-pageId="11">Apply your Model</a>
                <a href="#" class="nav" data-pageId="12">Create your own color</a>
                <a href="#" class="nav" data-pageId="13">Paint Splash Gallery Discussion</a>
                <a href="#" class="nav" data-pageId="14">Whiteboard Meeting</a>
                <a href="#" class="nav" data-pageId="15">Proportional Relationship Assignment</a>
                <a href="#" class="nav" data-pageId="16">Khan Academy Assignment</a>
                <a href="#" class="nav" data-pageId="17">Proportion Problems Brainstorm</a>
                <a href="#" class="nav" data-pageId="18">Solving Proportions Assignment</a>
                <a href="#" class="nav" data-pageId="19">Khan Academy Assignment</a>
                <a href="#" class="nav" data-pageId="20">Accuracy with a Stopwatch</a>
                <a href="#" class="nav" data-pageId="21">Buggy Lab</a>

            </li>
        </ul>

        <a class="showLinkweek3">Week 3
            <img class="uparrow" src="{% static 'pics/uparrow.png' %}" style="display:none"/>
            <img class="downarrow" src="{% static 'pics/downarrow.png' %}" />
        </a>
        <ul class="side-nav-ul week3">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="23">Buggy Lab (Cont)</a>
                <a href="#" class="nav" data-pageId="24">Buggy Lab Board Meeting</a>
                <a href="#" class="nav" data-pageId="25">Unit Rate Assignment</a>
                <a href="#" class="nav" data-pageId="26">Row Boat Lab</a>
                <a href="#" class="nav" data-pageId="27">Khan Academy Assignment</a>
                <a href="#" class="nav" data-pageId="28">Help Cobi with Functions</a>
                <a href="#" class="nav" data-pageId="29">Discuss your Model</a>
                <a href="#" class="nav" data-pageId="30">Intro to Slope-Intercept Form Assignment</a>
                <a href="#" class="nav" data-pageId="31">Another round of Cobi!</a>
                <a href="#" class="nav" data-pageId="32">Cobi Needs your help Again</a>
            </li>
        </ul>



    </div>
