    <span id="right-side-menu">&#9776;</span>


    <div id="mySidenav" class="sidenav" >
        <a href="javascript:void(0)" class="right-menu-closebtn">&times;</a>

        <a class="showLinkgeneral">General</a>
        <ul class="side-nav-ul general">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="0">Modelbook Demo Video</a>
                <a href="#" class="nav" data-pageId="0">Khan Academy Demo Video</a>
                <a href="#" class="nav" data-pageId="0">Teachable Agent Demo Video</a>
                <a href="#" class="nav" data-pageId="0">Personality Selection Page</a>
            </li>
        </ul>



        <a class="showLinkweek1">Week 1</a>
        <ul class="side-nav-ul week1">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="1">Create A Model</a>
                <a href="#" class="nav" data-pageId="2">Discuss Your Model</a>
                <a href="#" class="nav" data-pageId="3">Synchronous Day</a>
                <a href="#" class="nav" data-pageId="4">Refine your Model</a>
                <a href="#" class="nav" data-pageId="5">Teach an Agent</a>
            </li>
        </ul>



        <a class="showLinkweek2">Week 2</a>
        <ul class="side-nav-ul week2">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="6">Apply your Model</a>
                <a href="#" class="nav" data-pageId="7">Find a rule</a>
                <a href="#" class="nav" data-pageId="8">Proportional Relationship Video/Questions</a>
                <a href="#" class="nav" data-pageId="9">Create your own color</a>
                <a href="#" class="nav" data-pageId="10">Calculate the Ratio</a>
                <a href="#" class="nav" data-pageId="11">Discuss the Ratio</a>
                <a href="#" class="nav" data-pageId="12">Look at Other Solutions</a>
                <a href="#" class="nav" data-pageId="13">Reflect</a>
                <a href="#" class="nav" data-pageId="">......</a>
            </li>
        </ul>

        <a class="showLinkweek3">Week 3</a>
        <ul class="side-nav-ul week3">
            <li style="list-style-type: none;">
                <a href="#" class="nav" data-pageId="1">Module 1</a>
                <a href="#" class="nav" data-pageId="2">Module 2</a>
                <a href="#" class="nav" data-pageId="3">Module 3</a>
                <a href="#" class="nav" data-pageId="4">Module 4</a>
                <a href="#" class="nav" data-pageId="5">Module 5</a>
            </li>
        </ul>



    </div>
