{% load static %}
<div id="upload-view">

    <div  class="gallery-panel">
         <h1>sample header</h1>

         <p>Use the Upload button to select the image you want to upload in the gallery. You will see a success message once your image is uploaded. </p>



        <div id="gallery-upload-div" class="gallery-upload-section">
            <div>
                <img id="default" src="{% static 'pics/default.png' %}" alt="" style="height:300px;">
                <!--<span class="badge"></span>-->
            </div>

            <form id="upload-img" enctype="multipart/form-data" method="post" action="">
                <label for="file-upload" class="btn">
                    Upload
                </label>
                <input type="file" name="gallery_img" class="btn" id="file-upload" />
                <input type="hidden" name="act-id" value=""/> <!--pass gallery id number from digTextBook.js-->
                <input type="hidden" name="group-id" value=""/> <!--pass group id number from distextBook.js/gallery.js-->
            </form>

        </div>

        <div class="upload-success-msg" style="display:none">
          <span class="upload-success-msg-closebtn">&times;</span>
          <p id="upload-success-msg-p"><strong>Your selected image was successfully uploaded.</strong></p>
        </div>


<!--           <div id="add-new-gallery-post">-->
<!--                <a class="openCamera" href="https://hcilabasu.pythonanywhere.com/camera/" target="_blank"></a>-->
<!--                &lt;!&ndash;<a class="openCamera" href="http://127.0.0.1:8000/camera/" target="_blank"></a>&ndash;&gt;-->
<!--         </div>-->


    </div>

</div>

